<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="post" action="/posts" class="form">
        <h2>Create new Post</h2>
        <p><b>Username : </b><input placeholder="enter username" name="username"></p>
        <p><b>Content : </b> &nbsp;&nbsp;&nbsp;&nbsp;<textarea placeholder="write your post" name="content"></textarea></p><br>
        <button>Submit Post</button>
    </form>
</body>
</html>